a:link, a:visited {
    color: #4287f5;
    font-size: 1.25em;
    text-decoration: none;
    border: 0.0625em solid transparent;
    border-radius: 0.3125em;
    display: inline-block;
}


a:hover {
    text-shadow: 0 0 10px #8fbaff;
    border-color: #8fbaff;
}

h4 {
    color: #4287f5;
    font-size: large;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4287f5;
    border-style: solid;
    border-color: #4287f5;
    border-radius: 0.3125em;
    color: white;
    padding: 0.125em 0.25em;
    text-decoration: none;
    margin: 0.125em 0.0625em;
}

input[type=button]:hover:enabled,
input[type=submit]:hover:enabled,
input[type=reset]:hover:enabled {
    /*background-color: #8fbaff;*/
    /*border-color: #8fbaff;*/
    box-shadow: 0 0 3pt 2pt #8fbaff;

}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
a:active {
    /*background-color: #8fbaff;*/
    /*border-color: #8fbaff;*/
    transform: scale(.95);
}

input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled {
    background-color: #8fbaff;
    border-color: #8fbaff;
}

input[type=button]:enabled,
input[type=submit]:enabled,
input[type=reset]:enabled,
input[type=checkbox]:enabled {
    cursor: pointer;
}


input[type=text],
input[type=password],
select,
option {
    border-style: solid;
    border-color: #8fbaff;
    border-radius: 0.3125em;
    border-width: 0.125em;
    padding: 0.125em 0.125em;
    margin: 0.125em 0.0625em;
}

body {
    background-image: url("../resources/images/human1.png");
    background-repeat: no-repeat;
    background-position: center left;
    text-align: center;
}

body, body * {
    font-size: 24px;
    font-family: "Verdana", serif;
    vertical-align: middle;
    white-space: nowrap;
}

.aligned-left {
    display: inline-block;
    width: fit-content;
    margin: 100px auto auto auto;
    text-align: left;
}