table {
    /*color: #4287f5;*/
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #4a4333;
    font-size: 0.8em;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4f81bd;
    color: white;
}

tr:nth-child(odd) {
    background-color: #e8ecf4;
}

tr:nth-child(even) {
    background-color: #cfd7e7;
}

tr:hover {
    background-color: #b5bccc;
}