.description {
    width: fit-content;
}

.header {
    color: #8fbaff;
}

ol {
    list-style: none;
    counter-reset: answer-counter;
    margin: 0;
}

li {
    counter-increment: answer-counter;
    margin: 0;
    position: relative;
    height: 2em;
}

li::before {
    content: counter(answer-counter);
    background: #4287f5;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
}

.char-button {
    width: 1.75em;
    height: 1.75em;
}

input[type=checkbox] {
    -webkit-appearance: none;
    background-color: #eee;
    padding: 0.875em;
    border-radius: 0.3125em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

input[type=checkbox]:checked {
    background-color: #29dc37;
    color: white;
}

input[type=checkbox]:checked:after {
    content: '\2714';
    position: absolute;
    top: 4px;
    left: 11px;
    color: white;
}

select {
    max-width: 100%;
}